<app-welcomenav></app-welcomenav>
<div class=welcome>
    <div class="welcome-container">
        <h1 class="mb-4">Welcome to Your Gym Portal!</h1>
        <p class="lead">Manage Your Fitness Journey with Ease</p>
        
        <div class="d-grid gap-3 mb-4">
            
            <a routerLink="/login" class="btn btn-lg btn-custom-login">
                Login 
            </a>
            
            <a routerLink="/register" class="btn btn-lg btn-custom-register">
                Register 
            </a>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" xintegrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>